@model Class1

<div class="border border-dark rounded p-3">
    <h1>Table tag-helper</h1>

    @{
        var properties = new List<string>()
    {
    nameof(Class1.title),
    nameof(Class1.Class2)+'.'+nameof(Class2.Class3)+'.'+nameof(Class3.Class4s)+'.'+nameof(Class4.description),
    };
    }

    <table ds-controller="@nameof(HomeController).Replace("Controller","")" ds-model-type="@typeof(Class1)" ds-name="yo"
           ds-properties-to-show="properties" ds-rows-per-page="10">
    </table>
</div>

<div class="border border-dark rounded p-3 mt-3">
    <h1>Select tag-helper</h1>
    <select asp-for="Id" ds-controller="@nameof(HomeController).Replace("Controller","")" ds-model-type="@typeof(Class1)"
            ds-name="theselect" place-holder="start typing to search..." allow-new-value="true"></select>
</div>